{
    "embeddings1_dump_name": "embeddings/speaker1.pkl",
    "embeddings2_dump_name": "embeddings/speaker2.pkl",
    "embeddings_dump_name": "embeddings/x_vector.pkl",
    "clusters_dump_name": "clusters/x_vector.pkl",
    "num_clusters": 2,
    "projection_dims": 3,
    "pickle_save": true
}
